/* Cart */
#delete_cart_item {
  cursor: pointer;
  color: red;
  font-size: 1.75rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

.form-control[readonly] {
  background-color: white;
}
