/* Product Details Page */
#category {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 2rem;
}
