/* Header & Footer */
@import url("./css/template/footer.css");

/* Pages */
@import url("./css/pages/admin.css");
@import url("./css/pages/checkout.css");
@import url("./css/pages/profile.css");

/* Common */
@import url("./css/components/loader.css");
@import url("./css/components/rating.css");
@import url("./css/components/scrollbar.css");
@import url("./css/components/avatar.css");
@import url("./css/components/pagination.css");

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-family: "Pacifico", cursive;
}

a {
  text-decoration: none;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 5px 15px 50px #f1f1f1;
}

.carousel-control-next-icon {
  background-image: url("https://snipstock.com/assets/cdn/png/6b18650e29228e0e8f6a28d27e18b063.png");
}

.carousel-control-prev-icon {
  transform: scaleX(-1);
  background-image: url("https://snipstock.com/assets/cdn/png/6b18650e29228e0e8f6a28d27e18b063.png");
}

.carousel-prev-icon {
  margin-left: -100px;
}

.carousel-next-icon {
  margin-right: -100px;
}

.nav {
  background-color: #7053e3;
  padding: 1rem;
}

.form-control[readonly] {
  background-color: white;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add_icon:hover > i {
  display: none;
}

.add_icon:hover::before {
  content: "Add to cart";
  font-family: sans-serif;
}
